.Image {
    /*height: calc(100vh - 64px);*/
    /*width: calc(100vw - 64%);*/
    height: 1016px;
    width: 1275px;
}

@media only screen and (max-width: 600px) {
    .Image {
        display: none;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .Image {
        height: 380px;
        display: flex;
        width: 100%;
    }
}

/*@media only screen and (min-width: 1920px) {*/
/*    .Image {*/
/*        height: 1016px;*/
/*        width: 1275px;*/
/*        !*height: calc(100vh - 66px);*!*/
/*        !*width: calc(100vw - 50%);*!*/
/*    }*/

/*}*/